In [6]:
import pandas as pd
import numpy as np
import warnings 

warnings.filterwarnings('ignore')

In [7]:
df = pd.read_csv('D:\\nlp models\\fake news\\evaluation.csv', sep=(';'))
df

,Unnamed: 0,title,text,label
0,0,"Sanders back in U.S. Senate, blasts 'coloniali...",WASHINGTON (Reuters) - Democratic U.S. preside...,1
1,1,Kremlin: Syria peoples' congress being 'active...,MOSCOW (Reuters) - A proposal to convene a con...,1
2,2,Oregon Cop Convicted Of Shattering Biker’s Co...,"In a baffling fit of rage, an Oregon State Pol...",0
3,3,Twitter Erupts With Glee Over #CruzSexScandal...,The last thing any politician running for the ...,0
4,4,MUST WATCH VIDEO: Obama Tries To Trash Trump B...,This is too good to miss! Mr. Teleprompter did...,0
...,...,...,...,...
8112,8112,Sean Hannity Throws Hissy Fit After Real Repo...,"Just like Donald Trump, Sean Hannity has a thi...",0
8113,8113,FORMER ASST FBI DIRECTOR WARNS ANTI-TRUMP KABA...,Former Asst. FBI Director James Kallstrom spok...,0
8114,8114,John McCain: Trump’s Attacks On The Press Are...,Donald Trump has declared the media to be the...,0
8115,8115,Syria's Deir al-Zor air base working again: st...,BEIRUT (Reuters) - The Deir al-Zor military ai...,1
8116,8116,"U.S. military releases, withdraws old Islamist...","WASHINGTON (Reuters) - In an awkward reversal,...",1

In [8]:
df = df.drop(columns= 'Unnamed: 0')
df

,title,text,label
0,"Sanders back in U.S. Senate, blasts 'coloniali...",WASHINGTON (Reuters) - Democratic U.S. preside...,1
1,Kremlin: Syria peoples' congress being 'active...,MOSCOW (Reuters) - A proposal to convene a con...,1
2,Oregon Cop Convicted Of Shattering Biker’s Co...,"In a baffling fit of rage, an Oregon State Pol...",0
3,Twitter Erupts With Glee Over #CruzSexScandal...,The last thing any politician running for the ...,0
4,MUST WATCH VIDEO: Obama Tries To Trash Trump B...,This is too good to miss! Mr. Teleprompter did...,0
...,...,...,...
8112,Sean Hannity Throws Hissy Fit After Real Repo...,"Just like Donald Trump, Sean Hannity has a thi...",0
8113,FORMER ASST FBI DIRECTOR WARNS ANTI-TRUMP KABA...,Former Asst. FBI Director James Kallstrom spok...,0
8114,John McCain: Trump’s Attacks On The Press Are...,Donald Trump has declared the media to be the...,0
8115,Syria's Deir al-Zor air base working again: st...,BEIRUT (Reuters) - The Deir al-Zor military ai...,1
8116,"U.S. military releases, withdraws old Islamist...","WASHINGTON (Reuters) - In an awkward reversal,...",1

In [11]:
# Converting everything into lower case

df['text'] = df['text'].apply(lambda x: x.lower())
df['title'] = df['text'].apply(lambda x: x.lower())
df

,title,text,label
0,washington (reuters) - democratic u.s. preside...,washington (reuters) - democratic u.s. preside...,1
1,moscow (reuters) - a proposal to convene a con...,moscow (reuters) - a proposal to convene a con...,1
2,"in a baffling fit of rage, an oregon state pol...","in a baffling fit of rage, an oregon state pol...",0
3,the last thing any politician running for the ...,the last thing any politician running for the ...,0
4,this is too good to miss! mr. teleprompter did...,this is too good to miss! mr. teleprompter did...,0
...,...,...,...
8112,"just like donald trump, sean hannity has a thi...","just like donald trump, sean hannity has a thi...",0
8113,former asst. fbi director james kallstrom spok...,former asst. fbi director james kallstrom spok...,0
8114,donald trump has declared the media to be the...,donald trump has declared the media to be the...,0
8115,beirut (reuters) - the deir al-zor military ai...,beirut (reuters) - the deir al-zor military ai...,1
8116,"washington (reuters) - in an awkward reversal,...","washington (reuters) - in an awkward reversal,...",1

In [ ]:
df.isna().sum()